nav {
    background-color: #A6C36F;
   
}
.nav-btn{
    margin: 10px 10px 10px 10px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    background-color: #447604 !important;
    border-color:#447604 !important;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-size: 32px !important;
    color: #447604  !important;
}

