.hiRes {
    background: url(https://res.cloudinary.com/dlfl6vj4n/image/upload/v1553106611/apples-business-buy-95425.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    height: 350px !important;
    width: 100% !important;
  
}

.jumbotron-fluid {
    color: white !important;
}

.body-content{
    padding: 90px
}

@media(max-width:425px){
    h1{
        font-size:26px !important;
    }
    .body-content{
      padding: 30px
    }

      }

@media(max-width:360px){

.body-content{
    padding: 20px
}

    }
