h5,
.contact,
.links {
  text-align: center;
}
nav {
  background-color: #a6c36f;
}

span{
    margin: 5px;
}

.card-title {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

#social {
  text-align: center;
  margin-bottom: 0.75rem;
}

.card {
  margin: auto;
}

.foot-card {
  width: 30%;
  margin: 15px;
}

.copyright {
  text-align: center;
  align-content: center;
  display: inline-block;
  width: 100%;
}
